$url : './';
@import "theme.scss";
@import "bootstrap-5.0.2-dist/css/bootstrap.css";
@import "common.scss";

body {
  font-family: $font-family-sans-serif;
  font-size: 1rem;
  background-repeat: no-repeat;
  background-position: right 5rem bottom 5rem;
  background-size: 350px auto;
  overflow-x: hidden;
  @media (max-width: 768px) {
    background-size: 140px auto;
    background-position: right 4rem bottom 7rem;
  }
}

input, a {
  &:focus {
    outline: none;
  }
}

h1, h2 {
  position: relative;
  font-family: $font-family-title;
  font-weight: bold;
  text-align: center;
  margin-top: 50px;
  margin-bottom: 0;
}

.mobile-only {
  display: none;
  @media (max-width: 1200px) {
    display: block;
  }
}



//Page Section
.page-section {
  min-height: 60vh;  
  display: flex;
  align-items: center;
  overflow-x: hidden;
  background-size: cover;
  position: relative;
  & .card {
    position: relative;
    width: 100%;
    max-width: 350px;
    margin-left: auto;
    margin-right: auto;
  }
  p {
    font-size: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  &:before {
    content: "";
    display: block;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
  }
  & .btn {
    margin-top: 20px;
    margin-bottom: 50px;
  }
}


// Formulário

.error {
    color: $white;
    background-color: red;
    margin-top: 0;
    font-size: 9px;
    border-radius: 5px;
    padding: 0 2px 0 2px;
  }

// Header
header {
  padding: 0;
  margin: 0;
  z-index: 3000;
  top: 0;
  left: 0;
  width: 100%;

  & .container-fluid {
    margin: 0;
    padding: 0;
    width: auto;
  }
  // Logo
  & .navbar-brand {
    position: absolute;
    width: 130px;
    top: 0;
    transition: all ease 0.6s;
    @media (max-width: 992px){
      width: 50px;
      top: 0;
      left: 0;
      transition: all ease 0.6s;
    }
    img {
      width: 100%;
      height: auto;
      transition: all ease 0.6s;
      @media (max-width: 992px){
        width: 100%;
        height: auto;
        transition: all ease 0.6s;
      }
    }
  }
  & .navbar-toggler {
    & i {
      color: $light;
    }
    &:hover, &:focus {
      outline: none;
      @include box-shadow(none);
    }
  }
  
  // Navbar settings
  & .navbar-collapse {
    justify-items: flex-start;
  }
  & .navbar {
    padding: 0;
    display: flex;
    & .navbar-collapse {
      justify-content: flex-end;
    }

  }
  & .navbar-nav {
      & li {
      margin: 15px 5px;
      @include transition();
      & a {
        color: $primary;
        font-size: 0.9rem;
        @include transition(0.2s);
        @include border-radius(0 !important);
        &:hover {
          font-weight: bolder;
        }

      }
      &.active {
        position: relative;
      }
      & .dropdown-menu {
        border: none;
        position: relative;
        @include box-shadow(0 0 5px rgba(100, 100, 100, 0.2));
        &:after {
          content: "";
          background: linear-gradient(90deg,$primary, $secondary);
          display: block;
          height: 5px;
          position: absolute;
          left: 0;
          bottom: 0;
          width: 100%;
        }
        & a {
          color: $dark;
          &:hover {
            background: -webkit-linear-gradient(0deg, $primary, $secondary);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
          }
        }
      }
      &:last-of-type {
        margin-right: 0;
      }
    }

    // Languages navbar
    &.languages {
      margin-left: auto;
      & li {
        margin-left: 0;
        margin-right: 7px;
        img {
          height: 25px;
          width: 25px;
        }
      }
    }

    &.tools {
      &:hover {
        cursor: pointer;
      }
    }

    @media (max-width: 1200px) {
      text-align: center;
      margin-top: 15px;
      li {
        margin: 0;
        padding: 7px;
        margin-bottom: 7px;
      }
    }

  }

  // Responsive
  @media (max-width: 1200px) {
    // position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    box-shadow: 0 0 7px rgba($dark, 25%);

    #navbarNav {
      max-height: 80vh;
    }

  }

  @media (max-width: 992px) {
    background-color: rgba(255,255,255,0.2);
    .navbar {
      justify-content: center;
    }
    .navbar-nav {
      width: 100%;
      li {
        width: 100%;
        background-color: darken($light, 5%); 
      }
    }
  }
  
  & .search-container {
    position: relative;
    @media (min-width: 768px){
        max-width: 200px;
      }
    input {
      width: 100%;
      padding-left: 7px;
      font-size: 14px;
      background-color: transparent;
      color: #fff;
      border: 1px #fff solid;
      @include border-radius(10px);
      
    }
    button {
      position: absolute;
      margin: 0;
      background-color: transparent;
      border: none;
      right: -5px;
      top: 45%;
      @include translateY(-50%);
      i {
        font-size: 13px;
      }
    }
  }

  .top-nav {
    padding: 5px;
  }

  .fa-config {
    & .fa {
      height: 25px;
      width: 25px;
      display: inline-block;
      text-align: center;
      vertical-align: middle;
      line-height: 26px;
      padding-right: 1px;
      font-size: 17px;
      color: white;
      @include border-radius(50%);
    }
    & .fa-instagram {
      background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%,#d6249f 60%,#285AEB 90%);
    }
  }

  .container-fluid {
    height: auto;
    border: none;
    position: relative;
    &:before {
      content: "";
      display: block;
      position: absolute;
      left: 0;
      top: 0;
      height: 130%;
      width: 100%;
      pointer-events: none;
      background-color: rgba(255,255,255,0.9);
      @include filter(blur(30px));
    }
  }

  &.page-scrolled{
    & > .container-fluid {
      background-color: #fff;
      @include box-shadow(none);
      &:before{
        content: "";
        display: none;
        position: absolute;
        
        height: 100%;
        width: 100%;
      }
    }
    & .navbar-brand {
      position: relative;
    }
  }
  & .social-midia {
    position: relative;
    display: block;
    justify-content: center;
    & .fa {
      font-size: 25px !important;
      margin-right: 20px;
    }
    & .fa-linkedin-square {
      color: #0077b5;
    }
    & .fa-facebook-official {
      color: #4267B2;
    }
    
  }
  
} // header

// Search with AJAX
#search-wrapper {
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  padding: 0 15px;
  pointer-events: none;
  background-color: rgba(white, 95%);
  z-index: 3000;
  @include transition(0.4s);
  .nice-input-wrapper {
    position: relative;
    margin: 7rem auto 3rem;
    width: 100%;
    max-width: 350px;
  }
  #search-results {
    position: relative;
    margin: 0 auto;
    max-height: 50vh;
    width: 100%;
    max-width: 450px;
   // @extend .list-unstyled;
    li {
      position: relative;
      padding-left: 60px;
      border-bottom: 1px solid $light;
      padding-top: 7px;
      padding-bottom: 7px;
      &:first-child {
        border-top: 1px solid $light;
      }
    }
    img {
      display: block;
      height: 45px;
      width: 45px;
      position: absolute;
      left: 0;
      top: 50%;
      @include translateY();
    }
    h4 {
      color: $primary;
      font-size: 16px;
      margin-bottom: 0;
    }
    span {
      color: lighten($dark, 5%);
      font-size: 14px;
    }
  }
  &.active {
    pointer-events: auto;
    opacity: 1;
  }
  & > .dismiss {
    position: absolute;
    top: 25px;
    right: 25px;
    background-color: transparent;
    border: none;
    color: $dark;
    font-size: 1.5rem;
  }

}

// Balins
.balin {
  margin-left: 15px;
  & > div {
    background-color: $primary;
    display: block;
    height: 2px;
    position: absolute;
    top: 50%;
    width: 125vw;
    @include translateY();
    &:before, &:after {
      content: '';
      display: block;
      position: absolute;
      animation: pulse 2s infinite;
      @include border-radius(50%);
      @include translateY();
    }
    &:before {
      height: 30px;
      width: 30px;
      left: -15px;
      top: 50%;
      background-color: rgba($primary, 50%);
    }
    &:after {
      height: 22px;
      width: 22px;
      left: -11px;
      top: 50%;
      background-color: $primary;
    }
  }
}

// Destaques home
// #destaques {
//   overflow: hidden;
//   .container > .row {
//     margin-bottom: 3rem;
//     @media (min-width: 768px) {
//       &:nth-child(odd) {
//         .balin {
//           left: 20px;
//           right: auto;
//           & > div {
//             &:before {
//               left: -15px;
//               right: auto;
//             }
//             &:after {
//               left: -11px;
//               right: auto;
//             }
//           }
//         }
//       }
//       &:nth-child(even) {
//           & > div:first-child {
//             order: 1;
//           }
//           & > div:last-child {
//             order: 0;
//           }
//           .balin {
//             & > div {
//             right: 20px;
//             left: auto;
//             &:before {
//               right: -15px;
//               left: auto;
//             }
//             &:after {
//               right: -11px;
//               left: auto;
//             }
//           }
//         }
//       }
//     }
//   }
// }

// Loader
.loader {
  display: flex;
  height: 100%;
  width: 100%;
  position: fixed;
  left: 0;
  top: 0;
  justify-content: center;
  align-items: center;
  background-color: $primary;
  z-index: 14000;
  .lds-ellipsis {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
  }
  .lds-ellipsis div {
    position: absolute;
    top: 33px;
    width: 13px;
    height: 13px;
    border-radius: 50%;
    background: #fff;
    animation-timing-function: cubic-bezier(0, 1, 1, 0);
  }
  .lds-ellipsis div:nth-child(1) {
    left: 8px;
    animation: lds-ellipsis1 0.6s infinite;
  }
  .lds-ellipsis div:nth-child(2) {
    left: 8px;
    animation: lds-ellipsis2 0.6s infinite;
  }
  .lds-ellipsis div:nth-child(3) {
    left: 32px;
    animation: lds-ellipsis2 0.6s infinite;
  }
  .lds-ellipsis div:nth-child(4) {
    left: 56px;
    animation: lds-ellipsis3 0.6s infinite;
  }
  @keyframes lds-ellipsis1 {
    0% {
      transform: scale(0);
    }
    100% {
      transform: scale(1);
    }
  }
  @keyframes lds-ellipsis3 {
    0% {
      transform: scale(1);
    }
    100% {
      transform: scale(0);
    }
  }
  @keyframes lds-ellipsis2 {
    0% {
      transform: translate(0, 0);
    }
    100% {
      transform: translate(24px, 0);
    }
  }
}

// Main Banner
.main-banner {
  position: relative;
  overflow: hidden;
  z-index: 1000;
  & .item {
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    display: block;
    position: relative;
    height: 0 !important;
    padding-bottom: 50.97% !important;
    .owl-text-box {
      position: absolute;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
      overflow: hidden;
      height: 100%;
      left: 0;
      top: 0;

      .owl-text {
        position: relative;
        width: 700px;
        height: auto;
        background-color: #fff;
        text-align: center;
        z-index: 10;

      }

      &:before {
        content: "";
        position: absolute;
        width: 60%;
        height: 25rem;
        right: -5px;
        bottom: -205px;
        background-color: rgba(218, 44, 28, 0.7);
        z-index: 2;
        @include transform(skewY(-23deg));
      }

      &:after {
        content: "";
        position: absolute;
        width: 50%;
        height: 18rem;
        left: 0;
        bottom: -150px;
        background-color: rgba(255, 255, 255, 0.2);
        z-index: 1;
        @include transform(skewY(20deg));
      }
    }
    @media (min-width: 992px) {
      display: flex;
      align-items: center;
      .owl-text {
        display: flex;
        flex-direction: column;
        justify-content: center;
        flex-wrap: wrap;
        h3, h4 {
          width: 100%
        }
        .btn {
          width: auto;
          display: block;
          margin: 0 auto;
        }
        & span {
          font-size: 65px;
        }
      }
    }

    &:before {
      content: "";
      position: absolute;
      width: 100%;
      height: 100%;
      left: 0;
      top: 0;
      background-color: rgba(#000, 20%);
      z-index: 1;
    }
  }
  & .owl-nav {
    top: 50%;
    left: 0;
    position: absolute;
    width: 100%;
    @include translateY();
    & > div {
      padding: 5px;
      height: 35px;
      width: 35px;
      background-color: transparent;
      text-align: center;
      line-height: 20px;
      & img {
        height: 40px;
        width: auto;
        display: inline-block;
      }
      &.owl-prev {
        float: left;
        margin-left: 15px;
        @include border-radius(7px);
      }
      &.owl-next {
        float: right;
        margin-right: 15px;
        @include border-radius(7px);
      }
      &.disabled {
        opacity: 0.2;
      }
    }
  }
  & .owl-dots {
    display: block;
    width: 100%;
    position: absolute;
    left: 0;
    bottom: 10px;
    text-align: center;
    & .owl-dot {
      display: inline-block;
      height: 12px;
      width: 12px;
      margin: 0 5px;
      border: 2px solid $secondary;
      @include border-radius(50%);
      &.active {
        background-color: $secondary;
      }
    }
  }

  @media (max-width: 1200px) {
    margin-top: 0;
  }

}


.text-typed {
  font-size: 22px;
}

.typed-cursor {
  font-size: 22px;
}

// Footer
footer {
  margin-top: 50px;
  // background-color: $light;
  padding-top: 15px;
  padding-bottom: 15px;
  .socials {
    margin-top: 5px;
   // @extend .list-unstyled;
    li {
      display: inline-block;
      @include transition(0.3s);
      & i {
        color: #fff;
        font-size: 18px;
        display: inline-block;
        width: 32px;
        height: 32px;
        text-align: center;
        line-height: 32px;
        @include border-radius(50%);
      }
      &:hover {
        @include scale(1.04, 1.04);
      }
    }
  }
  .props {
    padding-left: 105px;
    padding-right: 105px;
    & > div {
      @media (min-width: 992px) {
        &:nth-child(odd) {
          text-align: left;
          .socials {
            text-align: left;
          }
        }
        &:nth-child(even) {
          text-align: right;
          .socials {
            text-align: right;
          }
        }
      }
    }
    @media (min-width: 768px) and (max-width: 992px) {
      padding-left: 30px;
      padding-right: 30px;
    }
    @media (max-width: 768px) {
      margin-top: 45px;
      margin-bottom: 45px;
      padding-left: 0;
      padding-right: 0;
    }
  }
  /* margin botão recaptcha */
  .submit {
    margin-left: 10px;
  }

  .logo {
    display: block;
    margin: 0 auto;
    max-width: 140px;
    width: 100%;
  }


  h4 {
      color: #fff;
      font-size: 35px;
      font-family: $font-family-title;
      font-weight: bold;
    }

  div {
    & .top-line{
       border-top: 1px solid #DAA520;
    }
  }

  input {
    border: none;
    border-radius: 7px;
  }

  .partners {
    position: relative;
    display: block; 
    & .img-logo {
        position: relative;
        width: 65px;
        height: auto;
        margin-top: 10px;
      }
    }
  .fa {
    position: relative;
    font-size: 30px;
  }
  .fa-linkedin-square {
    color: #0077b5;
  }
  .fa-facebook-official {
     color: #4267B2;
  }
  .fa-whatsapp {
    color: #25d366;
  }

  .col-md-3 {
    margin-bottom: 0 !important;
  }
 .info-centralize {
   position: relative;
   display: block;
   margin-left: 30%;
 }
} //footer

.copyright {    
  font-size: 12px;
}

.inline-icon {
  display: inline-block;
  height: 25px;
  width: auto;
  margin-top: 4px;
  margin-left: 5px;
  opacity: 0.8;
}

.recaptcha_el {
  @include transform-origin(0 0);
  @include scale(0.8, 0.8);
}


.whatsapp-button {
  position: fixed;
  bottom: 30px;
  right: -124px;
  display: block;
  z-index: 3000;
  @include transition();
  a {
    border: none;
    background-color: transparent;
    background: #25d366;
    color: #fff;
    font-size: 30px;
    height: 45px;
    width: 45px;
    text-align: center;
    line-height: 45px;
    position: absolute;
    left: -20px;
    top: 50%;
    z-index: 300;
    @include box-shadow(4px 5px 10px -1px rgba(0,0,0,0.5));
    @include translateY(-50%);
    @include border-radius(50%);
    & .fa {
      color: #fff !important;
    }
  }
  span {
    width: 150px;
    height: 35px;
    padding-top: 5px;
    padding-right: 5px;
    position: relative;
    background-color: #128C7E;
    display: inline-block;
    text-align: center;
    padding-left: 32px;
    color: #fff;
    font-size: 14px;
    z-index: 200;
  }
  &:hover{
    right: 0;
    @include transition(0.5s);
  }
  @media (max-width: 1200px){
    display: none;
  }
}

.cookies-background {
  display: none;
  position: fixed;
  z-index: 19999;
  height: 100%;
  width: 100%;
  bottom: 0;
  left: 0;

  .cookies {
    display: block;
    position: absolute;
    left: 25px;
    bottom: 25px;
    background-color: #000;
    width: 100%;
    max-width: 320px;
    padding: 25px;
    color: #fff;
    z-index: 20000;
    -webkit-border-radius: 12px;
    -ms-border-radius: 12px;
    -moz-border-radius: 12px;
    -o-border-radius: 12px;
    border-radius: 12px;
    -webkit-box-shadow: 0 4px 15px rgba(0, 0, 0, 0.25);
    -moz-box-shadow: 0 4px 15px rgba(0, 0, 0, 0.25);
    -ms-box-shadow: 0 4px 15px rgba(0, 0, 0, 0.25);
    -o-box-shadow: 0 4px 15px rgba(0, 0, 0, 0.25);
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.25);
    @media (max-width: 767px) {
      max-width: 100%;
      left: 0;
      bottom: 0;
      -webkit-border-radius: 0;
      -ms-border-radius: 0;
      -moz-border-radius: 0;
      -o-border-radius: 0;
      border-radius: 0;
      -webkit-box-shadow: 0 -4px 15px rgba(0, 0, 0, 0.25);
      -moz-box-shadow: 0 -4px 15px rgba(0, 0, 0, 0.25);
      -ms-box-shadow: 0 -4px 15px rgba(0, 0, 0, 0.25);
      -o-box-shadow: 0 -4px 15px rgba(0, 0, 0, 0.25);
      box-shadow: 0 -4px 15px rgba(0, 0, 0, 0.25);
    }
  }

  &:before {
    content: "";
    background-color: #1C1C1C;
    opacity: 0.75;
    display: block;
    position: absolute;
    height: 100%;
    width: 100%;
    bottom: 0;
    left: 0;
  }
}